<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
  <Package Name="Stickies"
           Manufacturer="obselate"
           Version="$(var.Version)"
           UpgradeCode="C033CAE7-2FE1-4E4C-B221-086E303DEC9C"
           Scope="perUser"
           InstallerVersion="500">

    <MajorUpgrade Schedule="afterInstallInitialize"
                  AllowSameVersionUpgrades="no"
                  DowngradeErrorMessage="A newer version of Stickies is already installed." />

    <MediaTemplate EmbedCab="yes" />

    <StandardDirectory Id="LocalAppDataFolder">
      <Directory Id="ProgramsFolder" Name="Programs">
        <Directory Id="INSTALLFOLDER" Name="Stickies">
          <Component Id="CleanupInstallFolder" Guid="*">
            <RemoveFolder Id="RemoveInstallFolder" On="uninstall" />
            <RemoveFolder Id="RemoveProgramsFolder" Directory="ProgramsFolder" On="uninstall" />
            <RegistryValue Root="HKCU"
                           Key="Software\obselate\Stickies"
                           Name="installdir"
                           Type="integer"
                           Value="1"
                           KeyPath="yes" />
          </Component>
        </Directory>
      </Directory>
    </StandardDirectory>

    <StandardDirectory Id="ProgramMenuFolder">
      <Component Id="StartMenuShortcut" Guid="*">
        <Shortcut Id="StickiesShortcut"
                  Name="Stickies"
                  Target="[INSTALLFOLDER]Stickies.exe"
                  WorkingDirectory="INSTALLFOLDER" />
        <RegistryValue Root="HKCU"
                       Key="Software\obselate\Stickies"
                       Name="installed"
                       Type="integer"
                       Value="1"
                       KeyPath="yes" />
      </Component>
    </StandardDirectory>

    <ComponentGroup Id="HarvestedFiles" Directory="INSTALLFOLDER">
      <Files Include="..\bin\Release\net9.0\win-x64\publish\**\*" />
    </ComponentGroup>

    <Feature Id="Main">
      <ComponentGroupRef Id="HarvestedFiles" />
      <ComponentRef Id="StartMenuShortcut" />
      <ComponentRef Id="CleanupInstallFolder" />
    </Feature>
  </Package>
</Wix>
